@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: "Roboto Mono", monospace;
    height: 100vh;
}

.major{
    font-size:72px;
    font-weight: 700;
}

.highlight:hover{
    color: #da521e;
    text-decoration: underline;
}